sudo: required

language: go

go:
 - "1.11.4"

env:
  - DOCKER_COMPOSE_VERSION=1.18.0

addons:
  apt:
    packages:
      - docker-ce

before_install:
  - sudo apt-get install -y -q netcat

  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -y install docker-ce
  - docker --version

  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - cp .travis.env .env

  - docker-compose --version

install:
  - rm -rf ./data
  - make govendor
  - make ethereum-fix
  - docker-compose up --build -d

before_script:
  - sleep 60
  # - "
  #     echo waiting for docker...;
  #     while ! nc -z localhost 3000;
  #     do
  #       sleep 0.5;
  #     done;
  #   "

script:
  - docker-compose exec app govendor sync -v
  - docker-compose exec app govendor test +local