version: "3"

services:
  prometheus:
    build:
      context: ./prometheus
      dockerfile: Dockerfile
      args:
        ADMIN_USER: ${ADMIN_USER}
        ADMIN_PASSWORD: ${ADMIN_PASSWORD}
    ports:
      - 9090:9090
    volumes:
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - promnet

  # Explore current machine metric for prometheus to scrape.
  node-exporter:
    image: prom/node-exporter
    ports:
      - 9100:9100
    networks:
      - promnet

# If we decide to turn on our own grafana dashboard
#  grafana:
#    image: grafana/grafana
#    environment:
#      - GF_SECURITY_ADMIN_PASSWORD=<your_password>
#      - GF_SERVER_HTTP_PORT=3100
#    depends_on:
#      - prometheus
#    ports:
#      - 3100:3100
#    volumes:
#      - grafana_data:/var/lib/grafana
#    networks:
#      - promnet

  app:
    build: "."
    restart: "always"
    ports:
    - ${APP_PORT:-3000}:3000
    env_file:
      - ".env"
    depends_on:
    - "db"
    volumes:
    - ".:/go/src/github.com/opacity/storage-node"
    - "./data/badger/prod:/var/lib/badger/prod"
    - "./data/badger/test:/var/lib/badger/test"
    working_dir: "/go/src/github.com/opacity/storage-node"
    command: >
      bash -c "
        echo waiting for db...;
        while ! nc -z db 3306;
        do
          sleep 0.5;
          free -m;
        done;
        echo ${DEBUG}
        go get github.com/codegangsta/gin
        if [ -z ${DEBUG} ]; then
          echo \"Starting Storage node in PROD mode\";
          go build -o ./bin/storage-node && chmod +x ./bin/storage-node;
          ./bin/storage-node;
        else
          echo \"Starting Storage node in DEV mode\";
          gin run main.go
        fi
      "
    networks:
      - promnet
      - dbnet

  db:
    container_name: mysql
    image: mysql:5.7
    restart: "always"
    command: --sql_mode=''
    # command: mysqld --sql_mode=''
    environment:
      - MYSQL_DATABASE=test
      - MYSQL_ROOT_USER=root
      - MYSQL_ROOT_PASSWORD=secret
    ports:
      - "33060:3306"
    volumes:
      - "./data/db/mysql:/var/lib/mysql"
    networks:
      - dbnet

# In order for each service to connect to each other, They need to be on the same
# network and use name like "app", "db", "prometheus" for reference. Ex: "db:3306", "app:3000".
networks:
  promnet:
    driver: bridge
  dbnet:
    driver: bridge

volumes:
  prometheus_data: {}
# grafana_data: {}
