<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .title }} | Opacity</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
  <section class="section">
    <div class="container is-max-desktop">
      <h1 class="title">
        {{ .title }} <span class="pl-2"><a class="button is-link" href="/admin/plans/add">Add new plan</a></span>
      </h1>
      {{if .notificationMessage}}
        <div class="notification is-success">
          <button class="delete"></button>
          {{ .notificationMessage }}
        </div>
      {{end}}

      <div id="plans">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Cost</th>
              <th>Cost in USD</th>
              <th>Storage in GB</th>
              <th>Max Folders</th>
              <th>Max Metadata size in MB</th>
              <th>Months in subscription</th>
              <th>Storage Type</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{with .plans}}
            {{range .}}
            <tr>
              <th>{{ .ID }}</th>
              <th>{{ .Name }}</th>
              <th>{{ .Cost }}</th>
              <th>{{ .CostInUSD }}</th>
              <th>{{ .StorageInGB }}</th>
              <th>{{ .MaxFolders }}</th>
              <th>{{ .MaxMetadataSizeInMB }}</th>
              <th>{{ .MonthsInSubscription }}</th>
              <th>{{ call $.FileStorageTypeToString .FileStorageType }}</th>
              <th>
                <div class="buttons">
                  <a href="edit/{{ .ID }}/" class="button is-link is-small is-primary is-outlined">Edit</a>
                  <a href="confirm-remove/{{ .ID }}" class="button is-link is-small is-danger">Remove</a>
                </div>
              </th>
            </tr>
            {{end}}
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;

        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script>

</body>

</html>