<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .title }} | Opacity</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
  <section class="section">
    <div class="container is-max-desktop">
      <h1 class="title">
        {{ .title }}
      </h1>
      {{if .notificationMessage}}
        <div class="notification is-success">
          <button class="delete"></button>
          {{ .notificationMessage }}
        </div>
      {{end}}

      <article class="message is-info">
        <div class="message-body">
          <p class="pb-1">Set the amount of money that can be spent over a given period.</p>
          <p class="pb-1">Allowance can be automatically renewed periodically. If the current blockheight + the renew window >= the end height the contract, then the contract is renewed automatically.</p>
          <p class="pb-1">Note that setting the allowance will cause siad to immediately begin forming contracts! You should only set the allowance once you are fully synced and you have a reasonable number (>30) of hosts in your hostdb.</p>
        </div>
      </article>

      <div id="sia-allowance">

        <div class="columns">
          <div class="column">

            <article class="message is-info">
              <div class="message-header" style="border-radius: 4px;">
                <p>Wallet confirmed balance: {{ .walletConfirmedSiacoinBalance }}</p>
              </div>
             </article>
            
            <table class="table">
              <tr class="is-selected">
                <td>Total Spent</td>
                <td>{{ .totalSpent }}</td>
              </tr>
              <tr>
                <td>Storage Spending</td>
                <td>{{ .storageSpending }}</td>
              </tr>
              <tr>
                <td>Contract Fees</td>
                <td>{{ .contractFees }}</td>
              </tr>
              <tr>
                <td>Unspent Allocated</td>
                <td>{{ .unspentAllocated }}</td>
              </tr>
              <tr>
                <td>Unspent Unallocated</td>
                <td>{{ .unspentUnallocated }}</td>
              </tr>
              <tr>
                <td>Current Period <i>*</i></td>
                <td>{{ .currentPeriod }}</td>
              </tr>
              <tr>
                <td>Next Period</td>
                <td>{{ .nextPeriod }}</td>
              </tr>
            </table>

            <p><i>* Current Period is the height at which the current allowance period began.</i></p>
          </div>

          <div class="column is-two-thirds">
            <div class="box">
              <form action="/admin/sia" method="POST">
    
                <div class="field is-horizontal pb-1">
                  <div class="field-label is-normal">
                    <label class="label">Allowance Funds</label>
                  </div>
                  <div class="field-body">
                    <div class="field has-addons">
                      <p class="control">
                        <input class="input" type="number" step="any" name="allowance-funds" value="{{ .allowance.AllowanceFunds }}" required>
                      </p>
                      <p class="control">
                        <a class="button is-static">
                          SC
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
    
                <div class="field is-horizontal pb-1">
                  <div class="field-label is-normal">
                    <label class="label">Expected Storage</label>
                  </div>
                  <div class="field-body">
                    <div class="field has-addons">
                      <p class="control">
                        <input class="input" type="number" step="any" name="expected-storage" value="{{ .allowance.ExpectedStorage }}" required>
                      </p>
                      <p class="control">
                        <a class="button is-static">
                          TB
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
    
                <div class="field is-horizontal pb-1">
                  <div class="field-label is-normal">
                    <label class="label">Period</label>
                  </div>
                  <div class="field-body">
                    <div class="field has-addons">
                      <p class="control">
                        <input class="input" type="number" step="any" name="period" value="{{ .allowance.Period }}" required>
                      </p>
                      <p class="control">
                        <a class="button is-static">
                          Weeks
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
    
                <div class="field is-horizontal pb-1">
                  <div class="field-label is-normal">
                    <label class="label">Hosts</label>
                  </div>
                  <div class="field-body">
                    <div class="field">
                      <p class="control">
                        <input class="input" type="number" step="1" min="30" name="hosts" value="{{ .allowance.Hosts }}" required style="width: 150px;">
                      </p>
                    </div>
                  </div>
                </div>
    
                <div class="field is-horizontal pb-1">
                  <div class="field-label is-normal">
                    <label class="label">Renew Window</label>
                  </div>
                  <div class="field-body">
                    <div class="field has-addons">
                      <p class="control">
                        <input class="input" type="number" step="any" name="renew-window" value="{{ .allowance.RenewWindow }}" required>
                      </p>
                      <p class="control">
                        <a class="button is-static">
                          Weeks
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
    
                <div class="field is-horizontal pb-1">
                  <div class="field-label is-normal">
                    <label class="label">Expected Download</label>
                  </div>
                  <div class="field-body">
                    <div class="field has-addons">
                      <p class="control">
                        <input class="input" type="number" step="any" name="expected-download" value="{{ .allowance.ExpectedDownload }}" required>
                      </p>
                      <p class="control">
                        <a class="button is-static">
                          TB
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
    
                <div class="field is-horizontal pb-1">
                  <div class="field-label is-normal">
                    <label class="label">Expected Upload</label>
                  </div>
                  <div class="field-body">
                    <div class="field has-addons">
                      <p class="control">
                        <input class="input" type="number" step="any" name="expected-upload" value="{{ .allowance.ExpectedUpload }}" required>
                      </p>
                      <p class="control">
                        <a class="button is-static">
                          TB
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
    
    
                <div class="field is-grouped is-grouped-centered">
                  <div class="control">
                    <button class="button is-link">Save</button>
                  </div>
                  <div class="control">
                    <a class="button is-link is-light" href="/admin/sia">Cancel</a>
                  </div>
                </div>
    
              </form>
            </div>
          </div>

        </div>

        
      </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;

        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script>

</body>

</html>